* {
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

header {
    padding: 25px;
    background-color: #6c87c2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header img {
    width: 70px;
}

header h1 {
    color: #ffffff;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    font-weight: lighter;
    font-style: italic;
}

.menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
}

.menu ul li {
    list-style: none;

}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 10x;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #002078;
    transition: 0.8s;
}

.cadastro {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cadastro p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: white;
    font-size: 20px;
}

.cadastro p:hover {
    color: #002078;
    transition: 0.8s;
}

.apartamento {
    padding: 60px;
    background-color: #c9cfdb;
    color: #002078;
}

.tituloap {
    text-align: center;
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

.img-caixa {
    width: 100px;
}

.div-pai div {
    width: 400px;
    height: 400px;
    background-color: #002078;
    border-radius: 15px;
    box-shadow: 10px 10px 20px black;
}

.div-pai div:hover {
    box-shadow: 20px 20px 30px black;
    transition: 0.8s;
}

.paragarafo-div {
    color: rgb(255, 252, 252);
    font-size: 27px;
    font-weight: 800;
    margin: 15px;
    /*Está cuidando de todos os lados da margem*/
}

.div-pai div img {
    width: 100%;
    border-radius: 15px;
}

.div-pai {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.fa-star {
    color: rgb(228, 187, 5);
}

.CASAS {
    background-color: #ffe0b8;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.CASAS h1 {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: #000000;
}

.CASAS2 {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}

.CA1 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/CA1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.CA2 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/CA2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.CA3 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/CA3.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.TERRENOS {
    background-color: #c9cfdb;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.TERRENOS h1 {
    text-align: center;
    font-size: 35px;
    font-style: italic;
    color: #002078;
}

.TERRENOS {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.TERRENOS2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.TE1 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/TE1.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.TE2 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/TE2.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

.TE3 {
    width: 375px;
    height: 500px;
    background-image: url(imagem/TE3.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
}

footer {
    background-color: #6c87c2;
    padding: 30px;
    color: #ffffff;
    text-align: center;
    line-height: 10px;
    font-size: 30px;
    font-weight: bold;
}

.text-footer {
    font-size: 23px;
    font-weight: lighter;
}

.text-footer:hover {
    color: #002078;
    transition: 0.8s;
}